---
import { ClientRouter } from "astro:transitions"

import BaseHead from "../../components/shared/BaseHead.astro"
import Header from "../../components/shared/Header.astro"
import Footer from "../../components/shared/Footer.astro"
import AboutMeContent from "../../components/AboutMeContent.md"

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
import "../../styles/base.css"
import "../../styles/blogs.css"

const title = "About Me | " + SITE_TITLE + " - Frontend Developer"
---

<!doctype html>
<html lang="en">
  <head>
    <link href="/themes/prism.css" rel="stylesheet" />
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <script src="../../utils/anchor-removal.ts" />
    <ClientRouter />
  </head>
  <body class="bg-white dark:bg-gray-900 font-inter transition-colors duration-200">
    <Header hasSeparator={false} />
    <main
      class="pt-20 mx-auto w-full lg:w-224 p-4 min-h-[calc(100vh-80px)] blog text-gray-700 dark:text-gray-300"
    >
      <astro-anchor-removal>
        <AboutMeContent />
      </astro-anchor-removal>
    </main>
    <Footer />
  </body>
</html>
