/* lato-regular */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}
/* lato-500 */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}
/* lato-600 */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}
/* lato-700 */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}