---
import { ViewTransitions } from "astro:transitions"
import BaseHead from '../components/BaseHead.astro';
import HomePage from '../layouts/HomePage.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/index.css';
import '../styles/base.css';

const title = SITE_TITLE + ' - Frontend Developer'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={ title } description={SITE_DESCRIPTION} />
    <ViewTransitions />
	</head>
	<body class=" bg-gray-200">
    <HomePage />
	</body>
  <script is:inline async src="/scripts/matter.min.js" />
</html>
