---
import BaseHead from '../components/BaseHead.astro';
import HomePage from '../layouts/HomePage.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/index.css';
import '../styles/base.css';

const title = SITE_TITLE + ' - Frontend Developer'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={ title } description={SITE_DESCRIPTION} />
	</head>
	<body class=" bg-gray-200">
    <HomePage />
	</body>
  <script>
    const scrollAndRemoveQuery = () => {
      document.body.scrollTop = document.documentElement.scrollTop = 0;
      const { protocol, host, pathname } = window.location;
      const url = `${protocol}//${host}${pathname}`;
      window.history.replaceState({}, '', url);
    }
    // automatically jump into anchor
    const location = window.location;
    if (location.hash) {
      setTimeout(() => {
        const id = location.hash.slice(1);
        const el = document.getElementById(id);
        if (el) {
          el.scrollIntoView();
        } else {
          scrollAndRemoveQuery()
        }
      }, 0);
    } else {
      scrollAndRemoveQuery()
    }
  </script>
</html>
