---
import { ViewTransitions } from "astro:transitions"
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FlickingComponent from '../components/FlickingComponent.astro';
import ProjectsCard from '../components/ProjectsCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import { sortPosts } from '../utils/posts-helper';
import '../styles/index.css';
import '../styles/base.css';

const posts = sortPosts(await getCollection('project'))

const title = `Projects - ${ SITE_TITLE }`

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={ title } description={ SITE_DESCRIPTION } />
    <script is:inline async src="/scripts/flicking.min.js" />
    <ViewTransitions />
    <link rel="stylesheet" href="/styles/flicking.css" />
    <link rel="stylesheet" href="/styles/flicking-plugin.css" />
	</head>
	<body class=" font-inter">
		<Header />
    <main class=" bg-white pt-20">
			<section class=" mx-auto w-full lg:w-256 p-4 min-h-screen">
        <h1 class=" w-max text-2xl md:text-5xl font-semibold mb-8">#Projects</h1>
        <FlickingComponent>
          {
            posts.map((post) => (
              <ProjectsCard { ...post.data } render={ post.render } />
            ))
          }
        </FlickingComponent>
			</section>
		</main>
		<Footer />
	</body>
</html>
