<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const flicking = new Flicking("#flick", {
      circular: true,
      align: "center",
      adaptive: false,
      horizontal: true
    })

    flicking.addPlugins(
      new Flicking.Plugins.AutoPlay({ duration: 10000, direction: "NEXT", stopOnHover: false })
    )
    flicking.addPlugins(new Flicking.Plugins.Fade())
    flicking.addPlugins(new Flicking.Plugins.Arrow())
  }, { once: true })
</script>

<div id="flick" class="flicking-viewport">
  <div class="flicking-camera">
    <slot />
  </div>
  <span class="flicking-arrow-prev"></span>
  <span class="flicking-arrow-next"></span>
</div>

<style>
  .flicking-viewport:hover {
    cursor: grab;
  }

  @media screen and (min-width: 768px) {
    .flicking-viewport:hover > .flicking-arrow-next,
    .flicking-viewport:hover > .flicking-arrow-prev {
      animation: fadeIn 0.3s ease-in-out forwards;
    }

    .flicking-arrow-prev,
    .flicking-arrow-next {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .flicking-arrow-prev::before,
  .flicking-arrow-prev::after,
  .flicking-arrow-next::before,
  .flicking-arrow-next::after {
    background-color: var(--green-700);
  }
</style>
