---
import GTag from './GTag.astro';

import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer class=" text-center p-4 font-semibold">
  <p>
    <span>&copy; { today.getFullYear() }</span>
    <span class=" ml-1">{ SITE_TITLE }</span>
    <span class="ml-1">🇮🇩</span>
  </p>
  <p>Website code: <a href="https://github.com/jarooda/jarooda.github.io/blob/main/license.md" class=" text-green-900 underline underline-offset-2 hover:text-green-700 font-bold">MIT License</a> | Blog content: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class=" text-green-900 underline underline-offset-2 hover:text-green-700 font-bold">CC BY-NC-SA 4.0</a></p>
</footer>
<GTag />
