---
import Anchor from "./shared/Anchor.astro"
import JaluLogoIcon from "./JaluLogoIcon.astro"

const firstWords = ["Halo,", "I", "am"]
const secondWords = ["Jalu", "Wibowo", "Aji"]
---

<div class="w-full">
  <section
    class="max-w-screen-2xl mx-auto min-h-screen justify-center flex flex-col relative perspective-1000"
  >
    <div id="jl-logo" class="hidden md:block w-96 lg:w-160 right-10 lg:right-20 top-52 lg:top-32 rotate-12 absolute drop-shadow-xl transform sm:transform-gpu the-logo text-gray-900 dark:text-white">
      <JaluLogoIcon class="w-full h-full" />
    </div>

    <div id="jl-logo-mobile" class="block md:hidden w-60 drop-shadow-xl mx-auto text-gray-900 dark:text-white">
      <JaluLogoIcon class="w-full h-full" />
    </div>

    <div class="w-full lg:w-256 px-16 lg:px-6 mx-auto">
      <div
        class="w-full flex flex-col items-center md:items-start text-2xl md:text-5xl font-black gap-1"
      >
        <div class="hero-text overflow-hidden flex gap-1 md:gap-4">
          {
            firstWords.map((word) => (
              <h1 class="opacity-0 leading-tight word">{word}</h1>
            ))
          }
        </div>
        <div class="hero-text overflow-hidden flex gap-1 md:gap-4">
          {
            secondWords.map((word) => (
              <h1 class="opacity-0 leading-tight word">{word}</h1>
            ))
          }
        </div>
      </div>

      <div
        class="mt-8 lg:mt-12 text-base font-normal md:font-medium hero-text text-center md:text-left"
      >
        <h2 id="about-me" data-test="hero-text" class="opacity-0 word">
          Software Engineer with more than four years of experience.
        </h2>
        <h2 class="opacity-0 word" data-test="changing-text">
          I <mark id="changing-text">do Frontend Magic.</mark>
        </h2>
      </div>

      <aside
        id="end-about-me"
        class="flex justify-center flex-wrap gap-4 mt-8 lg:mt-24"
      >
        <Anchor href="/about" test="hero-link-about">#AboutMe</Anchor>
        <Anchor href="#blog" test="hero-link-blog">#Blog</Anchor>
        <Anchor href="/talks" test="hero-link-talks">#Talks</Anchor>
        <Anchor href="/projects" test="hero-link-projects">#Projects</Anchor>
        <Anchor href="#techstacks" test="hero-link-techstacks"
          >#TechStacks</Anchor
        >
        <Anchor href="#contactme" test="hero-link-contactme">#ContactMe</Anchor>
      </aside>
    </div>
  </section>
</div>

<style>
  .perspective-1000 {
    perspective: 1000px;
  }

  .the-logo {
    will-change: transform;
    transform-style: preserve-3d;
  }
</style>
