---
import { getCollection } from "astro:content"
import ProjectsFeaturedCard from "./ProjectsFeaturedCard.astro"
import Anchor from "./shared/Anchor.astro"

// Filter featured posts and sort by date
const posts = (await getCollection("project"))
  .filter((item) => item.data.isFeatured)
  .sort((a, b) => (a.data.featuredOrder || 0) - (b.data.featuredOrder || 1))
---

<section
  id="projects"
  class="justify-center flex flex-col text-gray-700 dark:text-gray-300 transition-colors duration-200 pt-5"
>
  <div class="mx-auto w-full lg:w-256 py-4 px-4 md:py-12">
    <div
      class="w-full flex flex-col md:flex-row text-center gap-0 md:gap-4 text-2xl md:text-5xl font-semibold"
    >
      <h1 class="mb-4">#Projects</h1>
    </div>
    <section class="overflow-hidden">
      <div id="cards" class="mx-auto w-full">
        {
          posts.slice(0, 3).map((post, index) => (
            <div class="card w-full min-h-80 relative origin-[50%_-160%] px-8">
              <ProjectsFeaturedCard
                {...post.data}
                post={post}
                index={index}
              />
            </div>
          ))
        }
        <div class="card w-full min-h-[500px] relative origin-[50%_-160%] px-8">
          <div
            class="flex justify-center items-center text-md md:text-xl bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-600 rounded-lg shadow-sm h-full transition-colors duration-200"
          >
            <Anchor href="/projects" icon="mdi:chevron-double-right" test="check-other-projects"
              >Check Other Projects</Anchor
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
