---
import { getCollection } from "astro:content"
import ProjectsFeaturedCard from "./ProjectsFeaturedCard.astro"
import Anchor from "./Anchor.astro"

// Filter featured posts and sort by date
const posts = (await getCollection("project"))
  .filter((item) => item.data.isFeatured)
  .sort((a, b) => (a.data.featuredOrder || 0) - (b.data.featuredOrder || 1))
---

<section
  id="projects"
  class="min-h-screen max-w-screen-2xl mx-auto justify-center flex flex-col xl:pb-10"
>
  <div>
    <div
      class="w-max flex flex-col md:flex-row gap-0 md:gap-4 text-2xl md:text-5xl font-semibold md:w-192 py-4 px-4 md:py-12 mx-auto"
    >
      <h1 class="mb-4">#Projects</h1>
    </div>
    <section class="overflow-hidden py-16">
      <div id="cards" class="mx-auto w-full">
        {
          posts.slice(0, 3).map((post, index) => (
            <div class="card w-full min-h-128 relative origin-[50%_-160%] px-8">
              <ProjectsFeaturedCard
                {...post.data}
                render={post.render}
                index={index}
              />
            </div>
          ))
        }
        <div class="card w-full min-h-128 relative origin-[50%_-160%] px-8">
          <div
            class="flex justify-center items-center text-md md:text-xl bg-white border border-gray-200 rounded-lg shadow-sm h-full"
          >
            <Anchor href="/projects" isContrast icon="mdi:chevron-double-right"
              >Check Other Projects</Anchor
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
