---
import Tag from './Tag.astro';
import Anchor from './Anchor.astro';
import { getIcon } from '../consts';

interface Props {
  title: string
  repo?: string
  demo?: string
  heroImage?: string
  stacks: string[]
  render: any
}

const { title, heroImage, stacks = [], render, repo = '', demo = '' } = Astro.props;
const { Content } = await render();

---

<div class="relative flex w-full max-w-md h-auto flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
  <div class="relative overflow-hidden rounded-t-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 group">
    <img
      src={ heroImage }
      alt={ title + '-img' }
    />
    <div class=" to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/50 group-hover:hidden flex items-center justify-center bg-gray-700 bg-opacity-60 p-4">
      <h2 class=" block font-sans text-lg md:text-3xl font-bold leading-snug tracking-normal antialiased text-center">
        { title }
      </h2>
    </div>
    {
      repo && (
        <div class="!absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase transition-all disabled:opacity-50 disabled:shadow-none">
          <Anchor href={ repo } icon={ getIcon('github') } rel='noopener noreferrer' target='_blank' />
        </div>
      )
    }
  </div>
  <div class="p-6">
    <Content class="block font-sans text-sm md:text-base font-light leading-relaxed text-gray-700 antialiased" />
    <div class="group mt-8 inline-flex flex-wrap items-center gap-3">
      {
        stacks.map((stack) => (
          <Tag icon={ getIcon(stack) }>
            <p class="text-xs md:text-sm">
              { stack }
            </p>
          </Tag>
        ))
      }
    </div>
  </div>
  {
    demo && (
    <aside class=" flex pb-4 px-4">
      <Anchor href={ demo } rel='noopener noreferrer' block border target='_blank'>
        Preview
      </Anchor>
    </aside>
    )
  }
</div>