---
import { Image } from "astro:assets"
import RoundIcon from "./RoundIcon.astro"
import { getIcon } from "../consts"
import { render } from 'astro:content';

interface Props {
  title: string
  repo?: string
  demo?: string
  heroImage: string
  stacks: string[]
  isFeatured?: boolean
  index: number,
  post: any
}

const {
  title,
  heroImage,
  stacks = [],
  isFeatured,
  index,
  demo,
  repo,
  post
} = Astro.props

const { Content } = await render(post)
const iconStacks = stacks.filter((stack) => getIcon(stack)).reverse()
---

<a
  href={demo || repo}
  target="_blank"
  class="w-full bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col xl:flex-row p-4 hover:scale-105 transition-transform duration-300 ease-in-out"
  data-test={`featured-project-${index}`}
>
  <div style={{
    backgroundImage: `url(${heroImage})`
  }}
  class="relative flex-1 rounded-lg overflow-hidden bg-cover bg-center h-[500px]">

  <div class="flex flex-col justify-between absolute bottom-0 bg-gray-50/50 text-black backdrop-blur-sm w-full p-4">
    <div class="flex flex-col justify-end px-4">
      <h2
        class="md:text-xl text-base font-bold tracking-tight text-center sm:text-left mb-4"
      >
        {title}
      </h2>
      <div class="hidden sm:block">
        <Content />
      </div>
    </div>

    <!-- <div class="hidden xl:flex relative h-full">
      {
        iconStacks.map((stack, index) => (
          <div class="absolute bottom-0" style={{ right: `${index * 45}px` }}>
            <RoundIcon icon={getIcon(stack)} />
          </div>
        ))
      }
    </div> -->
  </div>

  </div>
</a>

<style></style>
