---
import Tag from './Tag.astro';
import Anchor from './shared/Anchor.astro';
import { getIcon } from '../consts';
import { render } from 'astro:content';

interface Props {
  title: string
  repo?: string
  demo?: string
  heroImage?: string
  stacks: string[],
  post: any
}

const { title, heroImage, stacks = [], repo = '', demo = '', post } = Astro.props;
const { Content } = await render(post);

---

<div class=" flicking-panel relative flex w-full sm:w-128 mx-0 sm:mx-2 h-min flex-col rounded-xl bg-white bg-clip-border text-gray-700">
  <div class="relative overflow-hidden rounded-t-xl bg-blue-gray-500 bg-clip-border text-white group">
    <div
      style={{
        backgroundImage: `url(${heroImage})`
      }}
      class=" w-full h-48 md:h-96 group-hover:scale-110 transition-all duration-500 ease-in-out transform object-cover object-center bg-no-repeat bg-center bg-cover"
      />
    </div>
  <div class="p-6">
    <div class=" flex flex-col md:flex-row mb-6 justify-between gap-4">
      <h2 class=" block font-sans text-lg md:text-2xl font-bold leading-snug tracking-normal antialiased text-left">
        { title }
      </h2>
      <div class=" flex gap-4">
        {
          demo && (
          <aside class=" flex h-min">
            <Anchor href={ demo } rel='noopener noreferrer' block target='_blank' icon="fluent:preview-link-16-regular">
              Preview
            </Anchor>
          </aside>
          )
        }
        {
          repo && (
          <aside class=" flex h-min">
            <Anchor href={ repo } rel='noopener noreferrer' block target='_blank' icon="mdi:github">
              Repo
            </Anchor>
          </aside>
          )
        }
      </div>
    </div>
    <Content class="block font-sans text-sm md:text-base font-light leading-relaxed text-gray-700 antialiased" />
    <div class="group mt-8 inline-flex flex-wrap items-center gap-3">
      {
        stacks.map((stack) => (
          <Tag icon={ getIcon(stack) }>
            <p class="text-xs md:text-sm">
              { stack }
            </p>
          </Tag>
        ))
      }
    </div>
  </div>
</div>