---
import { Icon } from 'astro-icon/components'

interface Props {
  icon?: string
}

const { icon } = Astro.props;
---

<div class="rounded-full p-1 bg-white dark:bg-gray-800">
  <span
    class=" rounded-full h-10 w-10 flex items-center justify-center bg-white border-2 dark:border-white border-slate-700"
  >
    { icon && <Icon name={icon} class="w-8" /> }
  </span>
</div>