---
import { Icon } from 'astro-icon/components'

interface Props {
  icon?: string
  dark?: boolean
}

const { icon, dark } = Astro.props;
const classes = dark ? 'text-gray-200 bg-gray-700 border-gray-200' : 'text-gray-700 bg-white border-gray-700'
---

<span
  class={ ` px-3 py-1 flex items-center w-max rounded-full border-2 text-xs font-semibold ${ classes }` }
>
  { icon && <Icon name={icon} class="h-4 w-auto" /> }
  { !icon && <slot /> }
</span>