---
import Tag from './Tag.astro';
import { getIcon } from '../consts'

interface Props {
  title: string
  lists: string[]
}

const { title, lists } = Astro.props;
---

<div class="">
  <h2 class=" font-semibold text-lg">{ title }</h2>
  <div class=" flex gap-2 mt-2 flex-wrap">
    {
      lists.map((list) => (
        <Tag icon={ getIcon(list) }>{ list }</Tag>
      ))
    }
  </div>
</div>
