---
import Tag from './Tag.astro';

interface Props {
  title: string
  lists: {
    name: string
    icon?: string
  }[]
}

const { title, lists } = Astro.props;
---

<div class="">
  <h2 class=" font-semibold text-lg">{ title }</h2>
  <div class=" flex gap-2 mt-2 flex-wrap">
    {
      lists.map((list) => (
        <Tag icon={list.icon}>{list.name}</Tag>
      ))
    }
  </div>
</div>
