---
import TechStacksCard from './TechStacksCard.astro';

const stacks = [
  {
    title: 'Languages',
    lists: ['Javascript', 'Typescript', 'Ruby', 'Dart']
  },
  {
    title: 'Frameworks & Libraries',
    lists: ['Vue.js', 'Nuxt', 'React', 'Astro', 'jQuery', 'React Native', 'Expo', 'Flutter', 'Express.js', 'Ruby on Rails']
  },
  {
    title: 'Markup Languages',
    lists: ['HTML', 'Markdown', 'MDX', 'YAML']
  },
  {
    title: 'Stylings',
    lists: ['CSS', 'Sass', 'Tailwind', 'Bootstrap']
  },
  {
    title: 'State Managements',
    lists: ['Pinia', 'Redux', 'Vuex']
  },
  {
    title: 'Databases & Caches',
    lists: ['Postgresql', 'MongoDB', 'Redis', 'Firebase']
  },
  {
    title: 'API Developments',
    lists: ['RESTful', 'GraphQL']
  },
  {
    title: 'Server & Deployments',
    lists: ['AWS', 'Railway', 'Firebase', 'Vercel', 'Heroku']
  },
  {
    title: 'Testings & Lintings',
    lists: ['Jest', 'ESLint', 'Prettier']
  },
  {
    title: 'Package Managers',
    lists: ['npm', 'pnpm', 'yarn', 'rubygems']
  },
  {
    title: 'Development Tools',
    lists: ['Git', 'Github', 'Gitlab', 'VSCode', 'Jira', 'Figma']
  },
]
---

<section id="techstacks" class=" min-h-screen justify-center flex flex-col bg-gray-200 text-gray-700">
  <div class=" mx-auto w-full md:w-192 py-4 px-4 md:py-12">
    <div class=" w-max flex flex-col md:flex-row gap-0 md:gap-4 text-2xl md:text-5xl font-semibold">
      <h1 class=" ">#TechStacks</h1>
    </div>
    <content class=" text-md md:text-xl mt-5 md:mt-10 flex flex-col gap-2">
      {
        stacks.map((stack) => (
          <TechStacksCard {...stack} />
        ))
      }
    </content>
  </div>
</section>
