---
import { ViewTransitions } from 'astro:transitions';
import type { CollectionEntry } from 'astro:content';
import { Image } from "astro:assets"
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/base.css';

type AstroProps = CollectionEntry<'blog'>;
interface Props {
  posts: AstroProps[];
  header: string;
}
const { posts, header } = Astro.props;
const title = `${ header } - ${ SITE_TITLE }`
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={ title } description={SITE_DESCRIPTION} />
    <ViewTransitions />
	</head>
	<body>
		<Header />
		<main class=" bg-white pt-20">
			<section class=" mx-auto w-full lg:w-224 p-4 min-h-screen">
        <h1 class=" w-max text-2xl md:text-5xl font-semibold mb-8">#{ header }</h1>
				<ul class=" flex flex-col justify-center gap-4">
					{
						posts.map((post) => (
							<li class=" w-full flex flex-col sm:flex-row bg-white rounded-lg">
                <Image
                  width={ 720 }
                  height={ 360 }
                  src={ post.data.heroImage || '' }
                  alt={ post.slug }
                  class=" w-full sm:w-1/4 rounded-tr-lg md:rounded-tr-none rounded-tl-lg md:rounded-bl-lg group-hover:scale-110 transition-all duration-500 ease-in-out transform object-cover object-center"
                />
                <div class=" w-full p-4 flex flex-col gap-1 border-l md:border-l-0 md:border-t border-b border-r border-gray-400 md:rounded-tr-lg rounded-br-lg rounded-bl-lg md:rounded-bl-none">
                  <a href={`/blog/${post.slug}/`}>
                    <h4 class=" text-xl font-bold hover:underline underline-offset-4">{post.data.title}</h4>
                  </a>
                  <p class=" font-semibold text-base md:text-sm">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <div class=" flex flex-col justify-between h-full">
                    <p class=" mt-2 text-base md:text-sm"> { post.data.description }</p>
                    <div class=" flex gap-2 my-2">
                      {
                        post.data.tags.map((tag: string) => (
                          <a href={ `/tags/${ tag }` } class="text-xs md:text-sm hover:underline underline-offset-2">
                            #{ tag }
                          </a>
                        ))
                      }
                    </div>
                  </div>
                </div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
