---
import AboutMe from '../components/AboutMe.astro';
import TechStacks from '../components/TechStacks.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';

---
<main class="font-inter">
  <AboutMe />
  <TechStacks />
  <Projects />
  <Footer />
</main>