---
import Hero from "../components/HomepageHero.astro"
import TechStacks from "../components/HomepageTechStacks.astro"
import Projects from "../components/HomepageProjects.astro"
import Blogs from "../components/HomepageBlogs.astro"
import ContactMe from "../components/HomepageContactMe.astro"
import Footer from "../components/shared/Footer.astro"
---

<script src="../utils/home-animation.ts"></script>

<main class="font-inter mx-auto w-full text-gray-700">
  <astro-home-animation>
    <Hero />
    <Blogs />
    <TechStacks />
    <Projects />
    <ContactMe />
    <Footer />
  </astro-home-animation>
</main>
