---
import AboutMe from '../components/AboutMe.astro';
import TechStacks from '../components/TechStacks.astro';
import Footer from '../components/Footer.astro';

---
<main class="font-inter">
  <AboutMe />
  <TechStacks />
  <Footer />
</main>